.main {
  height: 100vh;
  background-size: 100% auto; /* Ensures the image fits the width of the container */
  background-attachment: fixed; /* Keeps the background fixed */
  background-position: center top; /* Centers the background image horizontally and aligns it to the top */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  transition: background-image 1s ease-in-out;

}

.submain {
  padding-top: 50vh;

}

.social-comp {
  background-color: rgba(250, 249, 246);
  justify-content: center;
  align-items: center;
}

.social-comp h1 {
  color: rgba(38, 35, 35);
  display: flex;
  justify-content: center;
  padding:40px;
  font-size:60px;
  font-weight: 100;

}

@media (max-width: 768px) {
  .main {
    background-image: url("assets/desk_setup.JPG"); /* Mobile-specific background */
    background-size: cover; /* Ensures the background image covers the entire screen */
    background-position: center;
    background-attachment: scroll; /* Disable fixed attachment on mobile for better performance */
  }

  .submain {
    padding-top: 30vh; /* Reduces top padding for mobile */
  }

  .social-comp h1 {
    font-size: 40px; /* Reduce font size for mobile */
    padding: 20px;
  }

  .social-comp {
    padding: 10px;
  }
}
